/* Page Structure */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

#header {
  text-align: center;
}

.buttonWrap {
  text-align: center;
}

#displayButton {
  border-radius: 20px;
  height: 50px;
  width: 80px;
  text-align: center;
}

#background {
  background-color: rgb(139, 139, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  
}

#userInfo {
  border: 2px solid yellow;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 15px;
  width: 200px;
}

p {
  font-size: 10px;
  font-weight: 600
}

img {
  margin-top: 10px;
}

button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75px;
  height: 20px;
}


