/* Page Structure */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

#header {
  text-align: center;
}

.buttonWrap {
  text-align: center;
}

#displayButton {
  border-radius: 20px;
  height: 50px;
  width: 80px;
  text-align: center;
}

#background {
  background-color: rgb(139, 139, 236);
  align-items: center;
  justify-content: center;
  height: 500px;
  width: 100%;
  display: flex;
}

#personInfo {
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 70vw;
}

.storageDivs {
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

button {
  width: 75px;
  height: 20px;
}


