* {
  margin: 0;
  border: 0;
  box-sizing: border-box
}
body {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
h1 {
  color: white;
  text-align: center;
}
#buttonWrap {
  text-align: center;
}
button{
  margin: 2px;
  max-width: 100px;
}
#displayBoard{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 250px;
  width: 400px;
  color: white;
  align-items: center;
  justify-content: center;
  
}
#pokemonWrap {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid yellow;
  width: 800px;
  display: flex;
  justify-content: space-between;
}
#pokeLeft,
#pokeRight {
  height: 170px;
  width: 170px;
  text-align: center;
  font-size: 14px;
  font-weight: 700
}
img {
  height: 110%;
}
p {
  background-color: white;
}
h6 {
  color: white;
  margin-bottom: -25px;
}
